body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #14213d;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  pointer-events: none;
  height: 450px;
  z-index: 1;
  align-content: center;
  text-align: center;
  top: 8em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    z-index: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  padding: 1px;
  background-color: #dd1924;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;

  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.logodiv {
  width: 50%;
}

.logoder {
  width: 50%;
}
.linea {
  position: absolute;
  left: -10vw;
  bottom: -5vw;
  z-index: 0;
  width: 120vw;
  height: 28vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f7fa;
  -webkit-transform: translate(0px, 10vw) rotate(-14deg);
  -ms-transform: translate(0px, 10vw) rotate(-14deg);
  transform: translate(0px, 10vw) rotate(-14deg);
}
.hero {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button1 {
  width: 200px;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
  font-size: 15px;
}
.button1:hover {
  background-color: #fbd743;
}
.left {
  float: left;
  flex-direction: column;
  margin: 2em;
  z-index: 1;
}

.right {
  float: right;
  flex-direction: column;
  margin: 2em;
  z-index: 1;
}
.center {
  align-content: center;
}

.button2 {
  width: 200px;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
  font-size: 15px;
}

.button2:hover {
  background-color: #fbd743;
}

.btnimg {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 26%;
}

.btnimgshop {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 24%;
}
.btnimgcontacto {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
}

.entrenador {
  position: absolute;
  z-index: 2;
  top: 5em;
  height: 450px;
  margin: 4em;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 0.3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #1c2944;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.5em;
  z-index: 2;
  padding: 15px;
  border-color: black;
}

.menu .active {
  color: #67696b;
}

.menu a:hover {
  background-color: #fbd743;
  color: #191c32;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.3em;
  z-index: 2;
  padding: 14px;
}

.logo {
  width: 30%;
  position: relative;
  left: 40px;
  top: 2px;
}
