body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #14213d;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  pointer-events: none;
  height: 450px;
  z-index: 1;
  align-content: center;
  text-align: center;
  top: 8em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    z-index: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  height: 300px;
  width: 200px;

  border-radius: 7px;
  color: #14213d;
  padding-top: 2em;
  display: inline-flex;
  margin: 20px;
  text-align: center;
  align-items: center;
}

.card h1 {
  color: white;
}
.card-image {
  width: 100%;
  height: 90%;
  margin: 0px;
  text-align: center;
  border-radius: 5px;
}
.navbar {
  display: flex;
  padding: 1px;
  background-color: #dd1924;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;

  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.logodiv {
  width: 50%;
}

.logoder {
  width: 50%;
}
.linea {
  position: absolute;
  left: -10vw;
  bottom: -5vw;
  z-index: -1;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  width: 120vw;
  height: 30vw;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background-color: #f5f7fa;
  -webkit-transform: translate(0px, 10vw) rotate(-14deg);
  -ms-transform: translate(0px, 10vw) rotate(-14deg);
  transform: translate(0px, 10vw) rotate(-14deg);
}
.hero {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em;
}
.button1 {
  width: 171px;
  height: 126px;
  position: relative;
  padding: 3px 39px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
  font-size: 17px;
  font-weight: bold;
}

.button1:hover {
  background-color: #fbd743;
}
.left {
  float: left;
  flex-direction: column;
  margin: 1em;
  z-index: 1;
}

.right {
  float: right;
  flex-direction: column;
  margin: 1em;
  z-index: 1;
}
.center {
  align-content: center;
}

.ico {
  width: 30px;
  height: 30px;
  margin: 7px;
  cursor: pointer;
}

.button2 {
  width: 171px;
  height: 126px;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
}

.button2:hover {
  background-color: #fbd743;
}

.btnimg {
  /* transform: translateY(-0%); */
  width: 114%;
  align-items: center;
  text-align: center;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.btnimgshop {
  width: 73%;
  align-items: center;
  text-align: center;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}
.btnimgcontacto {
  width: 94%;
  align-items: center;
  text-align: center;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.entrenador {
  position: absolute;
  z-index: 2;
  top: 5em;
  height: 470px;
  margin: 4em;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 0.3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #1c2944;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.5em;
  z-index: 2;
  padding: 15px;
  border-color: black;
}

.menu .active {
  color: #67696b;
}

.menu a:hover {
  background-color: #fbd743;
  color: #191c32;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.3em;
  z-index: 2;
  padding: 14px;
}

.logo {
  width: 30%;
  position: relative;
  left: 40px;
  top: 2px;
}

.footer {
  background-color: #dd1924;
  color: white;
  padding: 35px;
  overflow: hidden;
  height: 200%;
  height: 200px;

  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.footer a {
  color: #fca311;
}

.footer p {
  color: #ffffff;
  font-size: 88%;
}

.general {
  color: white;
  padding: 35px;
  overflow: hidden;
  height: 200%;
  height: 580px;
  align-items: center;
  text-align: center;
}

.general a {
  color: #fca311;
}

.general p {
  color: #ffffff;
  font-size: 88%;
}

.general h1 {
  color: #ffffff;
}

.jeanoviedo {
  width: 37%;
}
