body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #14213d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  padding: 2px;
  background-color: #dd1924;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  display: grid;
  margin: 10px;
  border-radius: 12px;
  border-color: black;
  border-width: 6px;
  border-style: solid;
}

.hero {
  display: flex;
  width: 100%;

  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button1 {
  width: 200px;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
}
.button1:hover {
  background-color: #fbd743;
}
.left {
  float: left;
  flex-direction: column;
  margin: 1em;
}

.right {
  float: right;
  flex-direction: column;
  margin: 1em;
}
.center {
  align-content: center;
}

.button2 {
  width: 200px;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  cursor: pointer;
  background-color: #dd1924;
  color: white;
  margin: 1em;
}

.button2:hover {
  background-color: #fbd743;
}

.btnimg {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 26%;
}

.btnimgshop {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 24%;
}
.btnimgcontacto {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
}

.entrenador {
  position: relative;
  z-index: 2;
  height: 400px;
  margin: 9em;
}

.menu {
  display: flex;
}

.logo {
  width: 10%;
  position: relative;
  left: 40px;
  top: 2px;
}
